{% extends "admin/change_form.html" %}

{% block content_title %}{% if title %}<h1>{{ opts.object_name }} {{ original }}</h1>{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    <ul>
    {% for item in original.version_set.all %}
        {% if item.object_changes %}
        <li>
        	<b>{{ item.content_type }} {{ item.object_repr }}</b><br />
        	<table>
        		<tr><th>Параметр</th><th>До изменения</th><th>После изменения</th></tr>
        		{% for field in item.object_changes %}
        		<tr>
        			<td>{{ field.title }}</td>
        			<td>{{ field.value.old }}</td>
        			<td>{{ field.value.new }}</td>
        		</tr>
        		{% endfor %}
        	</table>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}