<center>
    <table border='0' width='100%'><tr><td width="250px">Всего казино по запросу:<strong> 52</strong><br>Максимальная возможная оценка: <strong>439.6</strong></td><td align='center'><span class='shadow-link'>1</span> <a href='?page=2' class='shadow-link'>2</a> <a href='?page=3' class='shadow-link'>3</a> </td><td align='center' width="150px"><form method='get' >Сайтов на странице: <select class='showBy' name='arrsize'><option>5</option><option>10</option><option selected='selected'>20</option><option>50</option></select><input type='submit' value='>>'></form></td></tr></table><br>
    <table class="rating_table" border="0" cellspacing="0">
        <thead>
        <tr>
            <td width="250px"><strong>Логотип</strong></td>
            <td><strong>Название/Описание</strong></td>
            <td width="100px"><strong>Рейтинг</strong></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td  align="center"></td>
            <td align="center"></td>
            <td align="center"><br><center><input id="select_button" type="button" value="Сравнить" onclick="javascript: location.href = '/compare.jsp';"></center></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=27'><img  height='190px' width='250px' alt='Скриншот казино Evrogrand' src='/upload_dir/u0_i49_evrogrand.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=27'><strong>Evrogrand</strong><br><noindex><p>Казино «Еврогранд» – один из проектов английской компании WHG. К данной компании относятся также такие знаменитые он-лайн казино, как 21 Nova, Joylandcasino. От других проектов данной сети «Еврогранд» выгодно отличает более интересный, стильный дизайн и более интересные бонусные предложения.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=27' onClick="recLinkExt('Evrogrand');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://eurogrand.com</strong></a> | <a href='/casino_info.jsp?cid=27'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=27'>334.37</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=10'><img  height='190px' width='250px' alt='Скриншот казино 888casino' src='/upload_dir/u0_i189_888.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=10'><strong>888casino</strong><br><noindex><p>888.com - одно из самых старых казино в сети. Домен казино был зарегистрирован в далеком 1995 году, что уже говорит о многом. 888.com является спонсором многих спортивных мероприятий и организаций. В период с 2006 по 2007 казино «888» было титутльным спонсором футбольного клуба «Мидлсбро» английской премьер-лиги. До недавнего времени данное казино было недоступно для российских игроков, так как интерфейс был полностью на английском, и казино не работало с webmoney и другими платёжными системами, которые распространены в России, однако, сейчас, казино обратило взоры в нашу сторону, поэтому российским игрокам здесь стали рады.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=10' onClick="recLinkExt('888casino');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://888casino.com/</strong></a> | <a href='/casino_info.jsp?cid=10'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=10'>318.85</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=166'><img  height='190px' width='250px' alt='Скриншот казино AzartPlay' src='/upload_dir/u0_i190_azartplay.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=166'><strong>AzartPlay</strong><br><noindex><p>Интернет казино AzartPlay еще совсем молодое, но уже подает большие надежды. Ведь его разработка принадлежит компании GGS Net Ltd. Это один из крупнейших производителей программного обеспечения для игорной индустрии. Как я заметил, графика в играх действительно четкая, нет никаких «подвисаний». </p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=166' onClick="recLinkExt('AzartPlay');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://azartplay.com</strong></a> | <a href='/casino_info.jsp?cid=166'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=166'>267.7</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=198'><img  height='190px' width='250px' alt='Скриншот казино Crystal slot' src='/upload_dir/u0_i59_cristalslot.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=198'><strong>Crystal slot</strong><br><noindex><p>Казино Crystal Slot относительно новый проект, но уже находится на рынке достаточное количество времени, чтобы можно было судить о его честности и открытости. Казино контролирует честность игры (при помощи системы контроля честности MD5), и судя по всему система отлично работает – в сети жалоб нет. К тому же совсем недавно программисты проекта еще улучшили систему, повысив надёжность в разы.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=198' onClick="recLinkExt('Crystal slot');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://crystalslot.com</strong></a> | <a href='/casino_info.jsp?cid=198'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=198'>249.1</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=138'><img  height='190px' width='250px' alt='Скриншот казино William Hill' src='/upload_dir/u0_i203_william hill.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=138'><strong>William Hill</strong><br><noindex><p>William Hill - это не просто красивое имя. Это очень известный бренд в Англии и Ирландии. Данная организация существует с 1934 года и изначально специализировалась на приёме ставок. В 21 веке она стала развивать свою игорную деятельность и вышла в Интернет со своими новыми продуктами - покер и казино.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=138' onClick="recLinkExt('William Hill');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://williamhillcasino.com</strong></a> | <a href='/casino_info.jsp?cid=138'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=138'>243.77</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=179'><img  height='190px' width='250px' alt='Скриншот казино Crazy Vegas' src='/upload_dir/u0_i38_crazy.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=179'><strong>Crazy Vegas</strong><br><noindex><p>Если покопаться в Интернете, то можно обнаружить достаточно обширное количество хороших отзывов о данном казино. Я решил выяснить на собственном опыте, чем же так привлекателен данный проект. И вот что у меня получилось.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=179' onClick="recLinkExt('Crazy Vegas');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://crazyvegascasino.co.uk</strong></a> | <a href='/casino_info.jsp?cid=179'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=179'>234.32</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=140'><img  height='190px' width='250px' alt='Скриншот казино Казино Елена' src='/upload_dir/u0_i209_elencasino.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=140'><strong>Казино Елена</strong><br><noindex><p>Казино «Елена» - относительно молодой проект, который начал свою деятельность в середине 2008 года. При первом знакомстве с данным ресурсом создается мнение, что это очередной дешевый проект-однодневка. Хотя внешность бывает обманчива. Чем больше знакомишься с казино, тем больше к нему проникаешься симпатией, ведь администрация, насколько это возможно, постаралась создать максимально комфортные условия для игрока.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=140' onClick="recLinkExt('Казино Елена');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://elencasino.com</strong></a> | <a href='/casino_info.jsp?cid=140'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=140'>227.2</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=19'><img  height='190px' width='250px' alt='Скриншот казино Гранд-Казино' src='/upload_dir/u0_i208_grand-casino.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=19'><strong>Гранд-Казино</strong><br><noindex><p>В казино Grand Casino можно играть как на реальные деньги, так и на fun-деньги. Игра на fun-деньги дает возможность познакомиться с играми и интернет-казино в целом. При совершении депозитов игрокам начисляются различные бонусы. В Grand Casino минимальная ставка составляет всего 1 цент! Оригинальный дизайн, любимые игры - все это для вас. Играйте&nbsp;и выигрывайте!</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=19' onClick="recLinkExt('Гранд-Казино');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://grand-casino.com</strong></a> | <a href='/casino_info.jsp?cid=19'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=19'>217.53</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=42'><img  height='190px' width='250px' alt='Скриншот казино Ва-Банк' src='/upload_dir/u0_i205_va-bank.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=42'><strong>Ва-Банк</strong><br><noindex><p>Казино «Ва-банк» – старейший азартно-развлекательный ресурс рунета. Последнее время о нём писалось много негатива, и большинство из написанного было, к сожалению, правдой, ведь не бывает дыма без огня. Однако после смены владельца Va-Bank взял курс на восстановление своей репутации в глазах игроков и улучшение игрового процесса – ведь только так можно конкурировать с другими ресурсами.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=42' onClick="recLinkExt('Ва-Банк');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://va-bank.com</strong></a> | <a href='/casino_info.jsp?cid=42'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=42'>207.15</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=101'><img  height='190px' width='250px' alt='Скриншот казино Betfair' src='/upload_dir/u0_i223_betfair.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=101'><strong>Betfair</strong><br><noindex><p>На одном из рекламных банеров данного ресурса я обнаружил слоган « Betfair - таким должно быть настоящее казино». После того, как я опробовал это казино, я готов подписаться под данными словами. И это отнюдь не от того, что я просто хочу сделать ничем не подкрепленный хвалебный дифирамб. Это казино действительно стоит того, чтобы в его адрес делали комплименты.  Данный игровой портал один из самых лучших, что я когда-либо видел, а видел я немало. Сразу видно, казино создано профессионалами.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=101' onClick="recLinkExt('Betfair');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://betfair.com</strong></a> | <a href='/casino_info.jsp?cid=101'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=101'>202.07</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=150'><img  height='190px' width='250px' alt='Скриншот казино Casino Tropez' src='/upload_dir/u0_i42_tropez.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=150'><strong>Casino Tropez</strong><br><noindex><p>Casino Tropez является самым старым проектом, принадлежащим компании Fastengine Limited Кипр. В сети оно существует около 8 лет. За это время данный проект завоевал признание многих игроков благодаря своему отличному сервису, богатому выбору игр и огромным денежным призам. По качеству предлагаемых услуг это казино реально может соперничать с лучшими игровыми ресурсами сети.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=150' onClick="recLinkExt('Casino Tropez');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://casinotropez.com</strong></a> | <a href='/casino_info.jsp?cid=150'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=150'>197.53</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=106'><img  height='190px' width='250px' alt='Скриншот казино Unibet' src='/upload_dir/u0_i224_unibet.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=106'><strong>Unibet</strong><br><noindex><p>На бескрайних просторах Интернета легко обнаружить огромное количество разнообразных азартно-развлекательных ресурсов. Однако не везде можно быть уверенным в том, что вас банально не обманут. Под яркой вывеской, сулящей «легкие» деньги, могут скрываться мошенники. К сожалению, таких мест в Интернете много, однако есть в этом бизнесе и надежные фирмы. Фирмы, которым можно доверять. К одной из них относится Unibet.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=106' onClick="recLinkExt('Unibet');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://unibet.com</strong></a> | <a href='/casino_info.jsp?cid=106'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=106'>195.5</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=58'><img  height='190px' width='250px' alt='Скриншот казино Европа' src='/upload_dir/u0_i62_evropa.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=58'><strong>Европа</strong><br><noindex><p>Казино «Европа» достойно своего названия: выглядит оно по-европейски, отношение к клиентам тоже на высоком уровне, да и игры не уступают. Если учесть, что программное обеспечение от компании с мировым именем, да и имеющуюся лицензию не забыть, то это казино можно поставить на голову выше большинства казино в сети Интернет. Теперь подробнее о «плюсах» и «минусах» (а они тоже есть).</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=58' onClick="recLinkExt('Европа');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://www.europacasino.com</strong></a> | <a href='/casino_info.jsp?cid=58'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=58'>194.6</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=128'><img  height='190px' width='250px' alt='Скриншот казино Casino.com' src='/upload_dir/u0_i194_casino com.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=128'><strong>Casino.com</strong><br><noindex><p>Casino.com. Рекламный слоган данного ресурса - the only place to play, данную фразу можно перевести как «Ищите онлайн-казино? Конечно Casino.com». Данный ресурс поддерживает высокие стандарты обслуживания своих клиентов, об этом они заявляют на каждой странице сайта. И это действительно так, здесь вас ожидают более 150 игр, полностью русифицированный контент, большое количество платежных систем для депозита и снятия средств, онлайн-поддержка.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=128' onClick="recLinkExt('Casino.com');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://casino.com</strong></a> | <a href='/casino_info.jsp?cid=128'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=128'>190.8</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=178'><img  height='190px' width='250px' alt='Скриншот казино You Spades' src='/upload_dir/u0_i204_youspades.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=178'><strong>You Spades</strong><br><noindex><p>You Spades - молодой проект, на данный момент ему нет и трех лет. Однако выглядит он очень достойно, даже на фоне более именитых и опытных конкурентов. Удобный софт, отличные игры, внимательная поддержка - все это ожидает вас в данном казино.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=178' onClick="recLinkExt('You Spades');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://youspades.com</strong></a> | <a href='/casino_info.jsp?cid=178'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=178'>189.93</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=108'><img  height='190px' width='250px' alt='Скриншот казино 32 Red Casino' src='/upload_dir/u0_i225_32red.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=108'><strong>32 Red Casino</strong><br><noindex><p>1</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=108' onClick="recLinkExt('32 Red Casino');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://32Red.com</strong></a> | <a href='/casino_info.jsp?cid=108'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=108'>185.4</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=145'><img  height='190px' width='250px' alt='Скриншот казино Victor Chandler Casino' src='/upload_dir/u0_i202_victorchandler.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=145'><strong>Victor Chandler Casino</strong><br><noindex><p>Как ни трудно догадаться, буквы "VC" в названии данного ресурса означают инициалы его владельца - Victor Chandler. Чем знаменит данный человек? Это один из самых известных в мире букмекеров, богатейший человек Великобритании. Семья Chandler уже более 60-ти лет занимается бизнесом в сфере азартных игр. Наряду с приёмом ставок, компания Виктора Чандлера-младшего предлагает целый спектр разнообразных азартных развлечений, в ряду которых казино занимает достаточно важную роль.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=145' onClick="recLinkExt('Victor Chandler Casino');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://vccasino.com</strong></a> | <a href='/casino_info.jsp?cid=145'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=145'>184.97</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=142'><img  height='190px' width='250px' alt='Скриншот казино Casino Oreanda' src='/upload_dir/u0_i33_oreanda.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=142'><strong>Casino Oreanda</strong><br><noindex><p>Казино «Ореанда» - молодой, но перспективный проект, ориентированный на игроков из России, Украины и других стран ближнего зарубежья. Главное достоинство данного казино - реально работающая система контроля честности MD5. Что касается игр, то на этом ресурсе вы сможете найти тридцать две различные азартные игры, на любой вкус. В основном это слоты, хотя есть здесь и рулетка, и блэкджек, и покер.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=142' onClick="recLinkExt('Casino Oreanda');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://casinooreanda.com</strong></a> | <a href='/casino_info.jsp?cid=142'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=142'>184.07</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=105'><img  height='190px' width='250px' alt='Скриншот казино 21Нова' src='/upload_dir/u0_i22_21nova.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=105'><strong>21Нова</strong><br><noindex><p>Казино 21 Нова - еще один представитель казино, программное обеспечение у которого от компании Playtech. Сбор информации про казино прошел легко и быстро - меню легкодоступное, да и карта сайта есть. При входе на сайт предлагают скачать программу с играми, на сайте же только описание этих игр, только вот то, что на сайте отличается от  того, что в скачиваемой версии. Это что касается игр, но есть и другие критерии, которые есть в описании далее.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=105' onClick="recLinkExt('21Нова');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://21nova.com</strong></a> | <a href='/casino_info.jsp?cid=105'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=105'>183.8</a></td>
        </tr>
        
        <tr>
            <td class='no-border' valign='top' align='center'>
                <a href='/casino_info.jsp?cid=137'><img  height='190px' width='250px' alt='Скриншот казино Bellini' src='/upload_dir/u0_i191_bellini.jpg'/></a></td>
            <td class='no-border' valign='top'>
                <a href='/casino_info.jsp?cid=137'><strong>Bellini</strong><br><noindex><p>Казино Bellini считается достаточно дорогим и серьезным проектом, ориентирован на посетителей со всего мира, контент переведен на 9 языков, включая русский. Кстати, для России есть даже бесплатный телефонный номер поддержки, что нечасто увидишь в других подобных казино.</p></noindex></a>
                <br><center name='nocopydiv'>
                <a class='casino' href='/external.jsp?rc=137' onClick="recLinkExt('Bellini');extCl(this.href);window.open(this.href);return false;">
                    <strong>http://casinobellini.com</strong></a> | <a href='/casino_info.jsp?cid=137'><strong>Обзор</strong></a>
            </center></td>
            <td class='no-border padding' valign="middle" align="center" ><a class='rating' href='/casino_info.jsp?cid=137'>182.13</a></td>
        </tr>
        
        <tr>
            <td class="no-border" align="center"></td>
            <td class="no-border" align="center"></td>
            <td class="no-border" align="center"><br><input id="select_button" type="button" value="Сравнить" onclick="javascript: location.href = '/compare.jsp?collaps=0&param_id=&param_id=&param_id=&onFilter=%D0%92%D1%8B%D0%B1%D1%80%D0%B0%D1%82%D1%8C';"></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        function extCl(link){
            $.ajax({
                url: "/jq_methods.jsp",
                data: "os="+$.client.os+"&browser="+$.client.browser+"&link="+link+"&click_external=true",
                async: true
            });
        }
    </script>
    <table border='0' width='90%'><tr><td width="250px">Всего казино в базе:<strong> 52</strong></td><td align='center'><span class='shadow-link'>1</span> <a href='?page=2' class='shadow-link'>2</a> <a href='?page=3' class='shadow-link'>3</a> </td><td align='center' width="150px"><form method='get'>Сайтов на странице: <select class='showBy' name='arrsize'><option>5</option><option>10</option><option selected='selected'>20</option><option>50</option></select><input type='submit' value='>>'></form></td></tr></table><br>
</center>
