                <div id="main_menu">
                    <br>
                    <p><a href="/index.jsp">Рейтинг казино</a></p>
                    <p><a href="/slots.htm"><strong>Игровые автоматы</strong></a></p>
                    <p><a href="/tools.jsp">Инструменты азартного игрока</a></p>
                    <p><a href="/news.jsp">Новости</a></p>
                    <p><a href="/articles.jsp">Статьи о казино</a></p>
                    <p><a href="/compare.jsp?collaps=0">Сравнить казино</a></p>
                    <p><a href="/parameters_info.jsp">Справка по параметрам</a></p>
                    <p><a href="http://forum.casino-rating.org">Казино форум</a></p>
                    <p><a href="/faq.jsp">FAQ</a></p>
                    <p><a href="/feedback.jsp">Обратная связь</a></p>
                    <p><a href="/for_new.jsp">Владельцам интернет-казино</a></p>
                    <p><a href="/better.jsp">Сделаем рейтинг лучше!</a></p>
                </div>
                
<div class="left_menu" name="search_block">
    <div class="h3_center">Поиск</div>
    <div id="searchElements" class="center">
        <br><label><strong>Домен или название казино:</strong> </label><br>
        <input id="search1" name="search1" onkeypress="return processKeyPress(event);" type="text" /><input type="button"  onclick="selit()" value="Поиск">
    </div>
    <br>
    <!-- Google Custom Search Element -->
    <div id="cse" class="full-width">Loading...</div>
</div>
<div class="left_menu">
    <div class="h3_center">Последняя новость</div>
    
    <br><p class='center'><strong>Заголовок</strong></p><br><p>Посещаемость ресурса достигла 180 000 в месяц. В переди 250 000 мы&nbsp; с вами :)</p>... <br><p class='align-right'><a href='/news.jsp?aid=10'>Читать далее...</a></p><br>
</div>
<div class="left_menu">
    <div class="h3_center">Последняя статья</div>
</div>

<div class="left_menu">
    <div id='vote'>
<div class='h3_center'>Какие типы игр в казино Вас больше привлекают?</div><br><input type='hidden' name='vote_id' value='9'>
<p class='vote'><input type='radio' id='29' name='vote_answer'> Рулетка</p>
<p class='vote'><input type='radio' id='37' name='vote_answer'> Мне нравится просто играть</p>
<p class='vote'><input type='radio' id='30' name='vote_answer'> Слоты</p>
<p class='vote'><input type='radio' id='28' name='vote_answer'> Карточные игры</p>
<p class='vote'><input type='radio' id='31' name='vote_answer'> Кено</p>
<br><center><input type='button' name='voteOk'  id="select_button" value='Голосовать' onclick='javascript:onVoteClick();'></center>
</div>

</div>

<div class='left_menu'>
    <!--LiveInternet counter-->
    <div class="lazyload_ad"><code type="text/javascript"><!--
        document.write("<a href='http://www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t52.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: показано число просмотров и"+
                " посетителей за 24 часа' "+
                "border='0' width='88' height='31'><\/a>")
        //--></code>
        <!--/LiveInternet-->

    </div>
</div>
<div class="left_menu">
    <div class="lazyload_ad"><code type="text/javascript"><!--
        document.write("<a href='http://top.novosel.ru/?id=34694' target='_blank'><img src='http://top.novosel.ru/top.gif?id=34694' width='88' height='31' border='0' alt='Рейтинг Сайтов НОВОСЁЛ.РУ'></a>")
        //--></code>
    </div>
</div>
<div class="left_menu">
    <p class='center'>
        <strong>Игровые залы :</strong>
    </p><br>

    
    
        <div onClick="recLink('Баннеры в левом меню', 'vulkan');"><center>
<noindex><div class="lazyload_ad"><code type="text/javascript"><!--
document.write('<object type="application/x-shockwave-flash" data="http://static.asocialgaming.com/banners/120_200.swf" width="120" height="200"> <param name="FlashVars" value="bannerLink=http://velcome-club.com/?r=pr10355"> <param name="quality" value="high"> <param name="wmode" value="opaque"> </object>');
--></code></div>
</noindex>
<center></div><br>
    
        <div onClick="recLink('Баннеры в левом меню', 'банер partnerearning');"><center>
<noindex><div class="lazyload_ad"><code type="text/javascript"><!--
document.write('<script type="text/javascript" src="http://partnerearning.com/4/?ae0eb3eed39d2bcef4622b2499a05fe6"></script> ');
--></code></div>
</noindex>
<center></div><br>
    
        <div onClick="recLink('Баннеры в левом меню', 'банер will');"><center>
<noindex><div class="lazyload_ad"><code type="text/javascript"><!--
document.write('<a href="http://serve.williamhillcasino.com/promoRedirect?member=nchnchnchnch&campaign=DEFAULT&channel=DEFAULT&zone=785517797&lp=785517769">  <img src="http://serve.williamhillcasino.com/promoLoadDisplay?member=nchnchnchnch&campaign=DEFAULT&channel=DEFAULT&zone=785517797&lp=785517769" width="120" height="240" border="0" alt="williamhillcasino.com" title="williamhillcasino.com" /> </a>');
--></code></div>
</noindex>
<center></div><br>
    
        <div onClick="recLink('Баннеры в левом меню', 'банер will2');"><center>
<noindex><div class="lazyload_ad"><code type="text/javascript"><!--
document.write('<a href="http://serve.williamhill.com/promoRedirect?member=nchnchnchnch&campaign=DEFAULT&channel=DEFAULT&zone=1471292294&lp=1468682445">  <img src="http://serve.williamhill.com/promoLoadDisplay?member=nchnchnchnch&campaign=DEFAULT&channel=DEFAULT&zone=1471292294&lp=1468682445" width="120" height="240" border="0" alt="williamhill.com" title="williamhill.com" /> </a>');
--></code></div>
</noindex>
<center></div><br>
    
        <div onClick="recLink('Баннеры в левом меню', 'crystal_slot');"><center>
<noindex><div class="lazyload_ad"><code type="text/javascript"><!--
document.write('<object type="application/x-shockwave-flash" data="/banners/crystal_flashb_120-240-link-10094.swf" width="120" height="240"> <param name="FlashVars" value="bannerLink=http://crystalslot.com/?ref=10094"> <param name="quality" value="high"> <param name="wmode" value="opaque"> </object>');
--></code></div>
</noindex>
<center></div><br>
    
        <div onClick="recLink('Баннеры в левом меню', '888casino');"><center>
<noindex><div class="lazyload_ad"><code type="text/javascript"><!--
document.write('<a href="http://ru.888.com/blackjack/?sr=158355&flag=0000"><IMG SRC="http://marketing.888.com//888casino/RU/Banners/120x240_888casino_blackjack_RU.gif" ALT="blackjack dollar 120x240" BORDER="0"></a>');
--></code></div>
</noindex>
<center></div><br>
    
</div>